*{margin:0;padding:0;box-sizing:border-box;}
li{list-style:none;}
.clearfix::after{content:"";display:block;clear:both;}

div.window {
	width: 640px;
	height: 360px;
	margin: 100px auto 20px;
	border-radius: 18px;
	cursor: pointer;
	overflow: hidden;
}
div.images {
	position: relative;
	
}

div.images > img {
	top: 0;
	position: absolute;
	width: 100%;
	border-radius: 18px;
	transition: all 0.5s;
}

img.current {
	left: 0;
	transform: translateX(0);
	z-index: 1;
}

img.leave {
	transform: translateX(-100%);
	z-index: 1;
}

img.enter {
	transform: translateX(100%);
}




